<%- include('../partials/header') %>

<div>
  <h1>Search Spotify</h1>
  
  <form action="/spotify/search" method="GET">
    <% if (locals.playlistId) { %>
      <input type="hidden" name="playlistId" value="<%= playlistId %>">
    <% } %>
    
    <input 
      type="text" 
      name="q" 
      value="<%= typeof searchTerm !== 'undefined' ? searchTerm : '' %>" 
      placeholder="Search songs..."
    >
    <button type="submit">Search</button>
  </form>

  <% if (typeof searchTerm !== 'undefined' && searchTerm !== '') { %>
    <h2>Results for "<%= searchTerm %>"</h2>
    <% if (locals.playlistId) { %>
      <p>Adding to playlist</p>
    <% } %>
  <% } %>

  <% if (typeof tracks !== 'undefined' && tracks.length > 0) { %>
    <div>
      <% tracks.forEach(track => { %>
        <div>
          <% if (track.image) { %>
            <img src="<%= track.image %>" width="50" height="50">
          <% } %>
          
          <div>
            <h3><%= track.name %></h3>
            <p><%= track.artists %></p>
            <p><%= track.album %></p>
            <p><%= track.duration %></p>
          </div>

          <form action="/spotify/import" method="POST">
            <% if (locals.playlistId) { %>
              <input type="hidden" name="playlistId" value="<%= playlistId %>">
            <% } %>
            <input type="hidden" name="spotifyId" value="<%= track.id %>">
            <button type="submit">Import</button>
          </form>

          <a href="<%= track.spotifyLink %>" target="_blank">Open in Spotify</a>
        </div>
      <% }) %>
    </div>
  <% } else if (typeof searchTerm !== 'undefined' && searchTerm !== '') { %>
    <p>No tracks found for "<%= searchTerm %>"</p>
  <% } else { %>
    <p>Enter a search term to find songs</p>
  <% } %>
</div>

<%- include('../partials/footer') %>