<%- include('../partials/header') %>

<div class="spotify-search">
  <h1 class="search-title">Search Spotify</h1>
  
  <form class="search-form" action="/spotify/search" method="GET">
    <% if (locals.playlistId) { %>
      <input type="hidden" name="playlistId" value="<%= playlistId %>">
    <% } %>
    
    <input 
      type="text" 
      name="q" 
      value="<%= typeof searchTerm !== 'undefined' ? searchTerm : '' %>" 
      placeholder="Search songs..."
      class="search-input"
    >
    <button type="submit" class="search-button">Search</button>
  </form>

  <% if (typeof searchTerm !== 'undefined' && searchTerm !== '') { %>
    <h2 class="results-title">Results for "<%= searchTerm %>"</h2>
    <% if (locals.playlistId) { %>
      <p class="playlist-notice">Adding to playlist</p>
    <% } %>

    <% if (typeof tracks !== 'undefined' && tracks.length > 0) { %>
      <div class="tracks-container">
        <% tracks.forEach(track => { %>
          <div class="track-card">
            <% if (track.image) { %>
              <img src="<%= track.image %>" class="track-image">
            <% } %>
            
            <div class="track-info">
              <h3 class="track-name"><%= track.name %></h3>
              <p class="track-artists"><%= track.artists %></p>
              <p class="track-album"><%= track.album %></p>
              <p class="track-duration"><%= track.duration %></p>
            </div>

            <form class="import-form" action="/spotify/import" method="POST">
              <% if (locals.playlistId) { %>
                <input type="hidden" name="playlistId" value="<%= playlistId %>">
              <% } %>
              <input type="hidden" name="spotifyId" value="<%= track.id %>">
              <button type="submit" class="import-button">Import</button>
            </form>

              <a href="<%= track.spotifyLink %>" target="_blank" class="spotify-link">
                <i class="fab fa-spotify"></i>
                <span class="sr-only">Open in Spotify</span>
              </a>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p class="no-results">No tracks found for "<%= searchTerm %>"</p>
    <% } %>
  <% } else { %>
    <p class="search-prompt">Enter a search term to find songs</p>
  <% } %>
</div>

<%- include('../partials/footer') %>