<%- include('../partials/header') %>

<main class="container">
  <div class="spotify-search">
    <h1>Search Spotify</h1>
    
    <form action="/spotify/search" method="GET" class="search-form">
      <div class="form-group">
        <input type="text" name="q" value="<%= query || '' %>" placeholder="Search for a song..." class="search-input">
        <button type="submit" class="search-button">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>

    <% if (tracks && tracks.length > 0) { %>
      <div class="track-list">
        <% tracks.forEach(track => { %>
          <div class="track-card">
            <% if (track.image) { %>
              <img src="<%= track.image %>" alt="Album cover" class="track-image">
            <% } %>
            
            <div class="track-info">
              <h3><%= track.name %></h3>
              <p class="artist"><%= track.artists.map(a => a.name).join(', ') %></p>
              <p class="album"><%= track.album %></p>
              <p class="duration"><%= msToTime(track.duration_ms) %></p>
            </div>
            
            <form action="/spotify/import" method="POST" class="import-form">
              <input type="hidden" name="spotifyId" value="<%= track.id %>">
              <button type="submit" class="btn btn-import">
                <i class="fas fa-plus"></i> Import
              </button>
            </form>
            
            <a href="<%= track.spotifyLink %>" target="_blank" class="btn btn-spotify">
              <i class="fab fa-spotify"></i>
            </a>
          </div>
        <% }) %>
      </div>
    <% } else if (query) { %>
      <p>No tracks found for "<%= query %>"</p>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>